<div class="container-fluid h-100 my-5">
  <div class="row h-100">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 bg-light m-auto">
      <nav class="navbar navbar-light p-0 pt-1 pb-2">
        <h1><a class="display-4 nav-link text-info p-0" href="#">XPen</a></h1>
        <h2 class="h6 mb-0">A really simple app to manage expenses for home use.</h2>
        <hr class="w-100" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apply Expense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apply Credit Transaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apply Debit Transaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pay Credit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Receive Debit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Cash</a>
            </li>
            <li class="nav-item">
              <hr class="w-25 ml-0" />
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
          </ul>
        </div>
      </nav>
      <form class="py-3">
        <h2 class="h4 text-info">Apply Expense</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" id="item" placeholder="Enter item">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Apply</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Apply Credit Transaction</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="creditor">Creditor</label>
          <input type="text" class="form-control" id="creditor" placeholder="Enter creditor name">
        </div>
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" id="item" placeholder="Enter item">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Apply</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Pay Credit</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="creditor">Creditor</label>
          <input type="text" class="form-control" id="creditor" placeholder="Enter creditor name">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Pay</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Apply Debit Transaction</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="debtor">Debtor</label>
          <input type="text" class="form-control" id="debtor" placeholder="Enter debtor name">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Apply</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Receive Debit</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="debtor">Debtor</label>
          <input type="text" class="form-control" id="debtor" placeholder="Enter debtor name">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Receive</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Add Cash</h2>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="cash-from">Cash Received From</label>
          <input type="text" class="form-control" id="cash-from" placeholder="Enter person name">
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount">
        </div>
        <div class="form-group">
          <label for="remarks">Remarks</label>
          <textarea class="form-control" placeholder="Cash received from salary." id="remarks"></textarea>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Apply</button>
        </div>
      </form>
      <h2 class="h4 text-info">Dashboard</h2>
      <h3 class="h6 text-info">Monthly Expenses</h3>
      <h4 class="h6">For April</h4>
      <input type="text" value="2017" placeholder="Enter year" class="p-1 mb-3">
      <div class="small">Hint: Click on the row to show detailed expenses.</div>
      <!-- On click: Show daily expenses popup with that date but only of that category -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1/1/2017</th>
            <td>Food</td>
            <td class="text-right">70</td>
          </tr>
          <tr>
            <th scope="row">2/1/2017</th>
            <td>Cloath</td>
            <td class="text-right">40</td>
          </tr>
          <tr>
            <th scope="row">3/1/2017</th>
            <td>Rent</td>
            <td class="text-right">20</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Total</th>
            <td class="text-right">130</td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination pagination-sm float-right">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">6</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">7</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">8</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">9</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">10</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">11</a>
          </li>
          <li class="page-item disabled" tabindex="-1">
            <a class="page-link" href="#">12</a>
          </li>
        </ul>
      </nav>
      <br clear="right" />
      <h3 class="h6 text-info">Daily Expenses</h3>
      <input type="text" value="1/1/2017" placeholder="Enter date" class="p-1 mb-3">
      <!-- / To be noted: all expenses of the day will be shown in one day by group calculation -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Potato</td>
            <td>1KG</td>
            <td class="text-right">70</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Onion</td>
            <td>1KG</td>
            <td class="text-right">40</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tea</td>
            <td>1PKT</td>
            <td class="text-right">20</td>
          </tr>
          <tr>
            <th scope="row" colspan="3">Total</th>
            <td class="text-right">130</td>
          </tr>
        </tbody>
      </table>
      <h3 class="h6 text-info">Add Category</h3>
      <form class="py-3">
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" placeholder="Enter category name">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Add Category</button>
        </div>
      </form>
      <h3 class="h6 text-info">Add Item</h3>
      <form class="py-3">
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" id="item" placeholder="Enter item name">
        </div>
        <div class="form-group">
          <label for="category-select">Select Category</label>
          <select id="category-select" class="form-control">
            <option value="food" selected>Food</option>
            <option value="cloath">Cloath</option>
            <option value="rent">Rent</option><!-- Room or flat will be the item in this category -->
          </select>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Add Item</button>
        </div>
      </form>
      <h3 class="h6 text-info">Add Creditor</h3>
      <form class="py-3">
        <div class="form-group">
          <label for="creditor">Creditor</label>
          <input type="text" class="form-control" id="creditor" placeholder="Enter creditor name">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Add Creditor</button>
        </div>
      </form>
      <h3 class="h6 text-info">Add Debtor</h3>
      <form class="py-3">
        <div class="form-group">
          <label for="debtor">Debtor</label>
          <input type="text" class="form-control" id="debtor" placeholder="Enter debtor name">
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Add Debtor</button>
        </div>
      </form>
      <form class="py-3">
        <h2 class="h4 text-info">Settings</h2>
          <div class="form-group">
            <label for="language-select">Default Language</label>
            <select id="language-select" class="form-control">
              <option value="english">English</option>
              <option value="nepali">Nepali</option>
            </select>
          </div>
          <div class="form-group">
              <label for="category-select">Default Category</label>
              <select id="category-select" class="form-control mb-4">
                <option value="food" selected>Food</option>
                <option value="cloath">Cloath</option>
                <option value="gym">Gym</option>
              </select>
            <input type="checkbox" id="set-item-checkobx" checked class="align-middle" style="width:25px;height:25px;">
            <label for="set-item-checkobx">Automatically add item to default cateogry.</label><!-- if no item is found -->
          </div>
          <div class="form-group">
              <input type="checkbox" id="create-creditor-checkobx" checked class="align-middle" style="width:25px;height:25px;">
              <label for="create-creditor-checkobx">Automatically create creditor.</label><!-- while creating transaction for credit -->
            </div>
            <div class="form-group">
                <input type="checkbox" id="create-debtor-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                <label for="create-debtor-checkobx">Automatically create debtor.</label><!-- while creating transaction for credit -->
              </div>
              <div class="form-group">
                  <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                  <label for="create-person-checkobx">Automatically create person.</label><!-- while creating transaction for credit -->
                </div>
                <h3 class="h6">Member Settings</h3>
                <div class="form-group">
                  <label for="member-user">Settings for:</label>
                  <select id="member-user">
                    <option value="" selected>Select user</option>
                    <option value="6">Binisha</option>
                    <option value="5">Ritika</option>
                    <option value="4" data-uuid="uuid">Laxmi</option>
                    <!-- Warning! see note on gdoc on example data-->
                  </select>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                  <label for="create-person-checkobx">Allow credit transaction</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                  <label for="create-person-checkobx">Allow debit transaction</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                  <label for="create-person-checkobx">Allow add cash</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                  <label for="create-person-checkobx">Allow view dashboard</label>
                </div>
                <div class="ml-5">
                  <div class="form-group">
                    <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                    <label for="create-person-checkobx">Monthly Expenses</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="create-person-checkobx" checked class="align-middle" style="width:25px;height:25px;">
                    <label for="create-person-checkobx">Daily Expenses</label>
                  </div>
                </div>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-lg btn-info">Save Settings</button>
        </div>
      </form>
    </div>
  </div>
</div>